/build
.env
google-services.json
pcactivitytracker-firebase-adminsdk-fbsvc-b971d2281d.json
pc-activitytracker-firebase-adminsdk-fbsvc-6d6d7ebd70.json
pcactivitytracker-firebase-adminsdk-fbsvc-0b0262d71e.json